<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eProcurementWebServiceBaseURL" value="http://eprocwebservices.tequacreek.local"/>
    <add key="ReturnToRequestorEMailMessageSendBaseURL" value="http://eprocurementmvc.tequacreek.local/ws/returnedToRequestorEMailMessageSend/"/>
  </appSettings>
</configuration>